@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --tap2play-white: #EDF2F4;
    --tap2play-light-gray: #C6CACC;
    --tap2play-blue: #2B2D42;
    --tap2play-dark-blue: #1B1C29;
    --tap2play-green: #8D99AE;
    --tap2play-orange: #EF233C;
    --tap2play-red: #D90429;
    --tap2play-dark-red: #B20322;
    --tap2play-button-switch: #4C5257;
    --tap2play-display: #262C27;

    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--tap2play-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.display{
    display: flex;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.game-container{
    display: flex;
    flex-direction: column;
    /* background-color: var(--tap2play-button-switch); */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#container-cell{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    width: 250px; 
    gap: 10px;
    padding: 15px;
}
.cell{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--tap2play-white);
    /* border-radius: 50%; */
    border: solid 3px var(--tap2play-green);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    aspect-ratio: 1/1;
}

#color0{
    background-color: var(--tap2play-white);
}
#color2{
    background-color: #EEE4DA;
}
#color4{
    background-color: #EDE0C8;
}
#color8{
    background-color: #F2B179;
}
#color16{
    background-color: #F59563;
}
#color32{
    background-color: #F67C60;
}
#color64{
    background-color: #F65E3B;
}
#color128{
    background-color: #EDCF73;
}
#color256{
    background-color: #EDCC62;
}
#color512{
    background-color: #EDC850;
}
#color1024{
    background-color: #EDC53F;
}
#color2048{
    background-color: #EDC22D;
}

@media(min-width: 500px){
    #container-cell{
        height: 350px;
        width: 370px;
    }
    .cell{
        width: 70px;
        height: 70px;
        font-size: 30px;
    }
}
@media(min-width : 768px){
    .display{
        width: 600px;
        height: 600px;
    }
    .game-container{
        width: 100%;
        height: 100%;
    }
    #container-cell{
        height: 500px;
        width: 600px;
        padding: 15px;
    }
    .cell{
        display: flex;
        width: 100px;
        height: 100px;
        background-color: var(--tap2play-white);
        /* border-radius: 50%; */
        border: solid 3px var(--tap2play-green);
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        aspect-ratio: 1/1;
    }
}