.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30px);
}

canvas {
    width: 1197px;
    height: 567px;
    image-rendering: auto;
    object-fit: contain;
}